*{
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar{
    background-color: #e0f7fa; 
}
.addupdate{
    margin: 0 10%;
}
.navbar-brand { 
    margin-left: 20px; color: rgb(85, 193, 229) !important; 
} 
.navbar-nav { 
    flex-grow: 1; justify-content: center; 
} 
.nav-item { 
    margin-right: 20px; 
} 
.nav-item .nav-link:hover{
    color:rgb(85, 193, 229) ;
}
.form-inline { 
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
} 
.btn-outline-danger { 
    margin-left: 10px; 
    margin-right: 20px;
}
.dashboard{
    color:rgb(85, 193, 229) ;
}